@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-active #dots {
	content: url('/carouseldot-active.svg');
	width: 20px;
	height: 20px;
}

.dark .slick-active #dots {
	content: url('/carouseldot-active-dark.svg');
	width: 20px;
	height: 20px;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
	--black-5: rgba(0, 0, 0, 0.05);
}

input::placeholder {
	color: #000000;
}

p,
span,
button {
	color: #000000;
}

.dark {
	--background: #121212;
	--foreground: #ededed;
}

.dark p,
.dark span,
.dark button {
	color: white;
}

.dark input::placeholder {
	color: #ffffff;
}

.dark .hamburger-icon {
	color: #ffffff;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont.woff2') format('woff2');
	font-style: normal;
	font-weight: 100 900;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--background);
	color: var(--foreground);
}
